make_5113311_backup_pre_bundle.json
{"flow": [{"id": 1, "mapper": {}, "module": "gateway:CustomWebHook", "version": 1, "metadata": {"restore": {"parameters": {"hook": {"data": {"editable": "true"}, "label": "Square Payment Confirmed"}}}, "designer": {"x": 0, "y": 0}, "parameters": [{"name": "hook", "type": "hook:gateway-webhook", "label": "Webhook", "required": true}, {"name": "maxResults", "type": "number", "label": "Maximum number of results"}]}, "parameters": {"hook": 2328890, "maxResults": 1}}, {"id": 4, "filter": {"name": "Only COMPLETED payment.updated", "conditions": [[{"a": "{{1.type}}", "b": "payment.updated", "o": "text:equal"}, {"a": "{{1.data.object.payment.status}}", "b": "COMPLETED", "o": "text:equal"}]]}, "mapper": {"sort": [{"key": "submitted_at", "order": -1}], "filter": [[{"a": "email", "b": "{{1.data.object.payment.buyer_email_address}}", "o": "text:equal"}, {"a": "status", "b": "pending", "o": "text:equal"}, {"a": "confirm_email_sent", "b": "yes", "o": "text:notequal"}], [{"a": "first_name", "b": "{{1.data.object.payment.billing_address.first_name}}", "o": "text:equal"}, {"a": "last_name", "b": "{{1.data.object.payment.billing_address.last_name}}", "o": "text:equal"}, {"a": "status", "b": "pending", "o": "text:equal"}, {"a": "confirm_email_sent", "b": "yes", "o": "text:notequal"}]], "mappAbleLimit": "1"}, "module": "datastore:SearchRecord", "version": 1, "metadata": {"expect": [{"name": "filter", "type": "filter", "label": "Filter", "options": "rpc://datastore/1.15.1/RpcGetUDTKeys", "required": true}, {"name": "sort", "spec": [{"name": "key", "type": "select", "label": "Key", "dynamic": true, "options": [], "required": true}, {"name": "order", "type": "select", "label": "Order", "options": [{"label": "Ascending", "value": 1}, {"label": "Descending", "value": -1}], "required": true}], "type": "array", "label": "Sort"}, {"name": "mappAbleLimit", "type": "uinteger", "label": "Mappable Limit"}], "restore": {"parameters": {"datastore": {"label": "BLS Bookings"}}}, "designer": {"x": 300, "y": 0}, "interface": [{"name": "__IMTLENGTH__", "type": "uinteger", "label": "Total number of bundles"}, {"name": "__IMTINDEX__", "type": "uinteger", "label": "Bundle order position"}, {"name": "key", "type": "text", "label": "Key"}, {"name": "data", "spec": [{"help": "", "name": "email", "type": "text", "label": null, "default": null, "required": false, "multiline": false}, {"help": "", "name": "first_name", "type": "text", "label": null, "default": null, "required": false, "multiline": false}, {"help": "", "name": "last_name", "type": "text", "label": null, "default": null, "required": false, "multiline": false}, {"help": "", "name": "phone", "type": "text", "label": null, "default": null, "required": false, "multiline": false}, {"help": "", "name": "date", "type": "text", "label": null, "default": null, "required": false, "multiline": false}, {"help": "", "name": "date_formatted", "type": "text", "label": null, "default": null, "required": false, "multiline": false}, {"help": "", "name": "time_label", "type": "text", "label": null, "default": null, "required": false, "multiline": false}, {"help": "", "name": "time_end", "type": "text", "label": null, "default": null, "required": false, "multiline": false}, {"help": "", "name": "location", "type": "text", "label": null, "default": null, "required": false, "multiline": false}, {"help": "", "name": "booking_id", "type": "text", "label": null, "default": null, "required": false, "multiline": false}, {"help": "", "name": "submitted_at", "type": "text", "label": null, "default": null, "required": false, "multiline": false}], "type": "collection", "label": "Record"}], "parameters": [{"name": "datastore", "type": "datastore", "label": "Data store", "required": true}, {"name": "continueWhenNoRes", "type": "boolean", "label": "Continue the execution of the route even if the module returns no results"}, {"name": "limit", "type": "uinteger", "label": "Limit"}]}, "parameters": {"limit": null, "datastore": 100809, "continueWhenNoRes": false}}, {"id": 8, "filter": {"name": "Matched record is fresh (within 15 min)", "conditions": [[{"a": "{{4.data.submitted_at}}", "b": "{{formatDate(addMinutes(now; -15); \"YYYY-MM-DDTHH:mm:ss\")}}", "o": "date:greater"}]]}, "mapper": {"ca": "", "qs": [], "url": "https://us2.make.com/api/v2/data-stores/100809/data/{{4.key}}?teamId=2313459", "data": "{\"status\": \"confirmed\", \"confirm_email_sent\": \"yes\", \"square_payment_id\": \"{{1.data.object.payment.id}}\", \"source\": \"{{4.data.source}}\", \"gclid\": \"{{4.data.gclid}}\", \"utm_source\": \"{{4.data.utm_source}}\", \"utm_campaign\": \"{{4.data.utm_campaign}}\", \"utm_medium\": \"{{4.data.utm_medium}}\", \"utm_content\": \"{{4.data.utm_content}}\", \"utm_term\": \"{{4.data.utm_term}}\", \"landing_url\": \"{{4.data.landing_url}}\", \"amount_paid_cents\": \"{{1.data.object.payment.amount_money.amount}}\", \"amount_paid_currency\": \"{{1.data.object.payment.amount_money.currency}}\"}", "gzip": true, "method": "patch", "headers": [{"name": "Authorization", "value": "Token 4317021d-3786-4640-8265-34e63c0aaa2e"}], "timeout": "", "useMtls": false, "bodyType": "raw", "contentType": "application/json", "serializeUrl": false, "shareCookies": false, "parseResponse": true, "followRedirect": true, "useQuerystring": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionSendData", "version": 3, "metadata": {"designer": {"x": 1500, "y": 0}}, "parameters": {"handleErrors": false, "useNewZLibDeCompress": true}}, {"id": 5, "filter": {"name": "Recipient looks like email + recency", "conditions": [[{"a": "{{4.data.email}}", "b": "@", "o": "text:contain"}, {"a": "{{4.data.submitted_at}}", "b": "{{formatDate(addMinutes(now; -15); \"YYYY-MM-DDTHH:mm:ss\")}}", "o": "date:greater"}, {"a": "{{4.data.square_payment_id}}", "b": "{{1.data.object.payment.id}}", "o": "text:notequal"}]]}, "mapper": {"to": ["{{4.data.email}}"], "content": "<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" bgcolor=\"#f5f5f7\"><tr><td align=\"center\" style=\"padding:12px 10px;\">\n<table width=\"520\" cellpadding=\"0\" cellspacing=\"0\" bgcolor=\"#ffffff\" style=\"border-radius:14px;overflow:hidden;font-family:-apple-system,BlinkMacSystemFont,Arial,sans-serif;max-width:520px;\">\n<tr><td bgcolor=\"#e8503a\" height=\"4\" style=\"height:4px;line-height:4px;font-size:4px;\">&nbsp;</td></tr>\n<tr><td align=\"center\" style=\"padding:14px 24px 2px;\"><span style=\"font-size:14px;font-weight:600;color:#1a2b4a;\">CPR <span style=\"color:#e8503a;\">West Covina</span></span></td></tr>\n<tr><td align=\"center\" style=\"padding:8px 24px 0;\"><table cellpadding=\"0\" cellspacing=\"0\"><tr><td width=\"40\" height=\"40\" bgcolor=\"#1d9e75\" align=\"center\" valign=\"middle\" style=\"border-radius:20px;color:#fff;font-size:22px;font-weight:700;\">&#10003;</td></tr></table></td></tr>\n<tr><td align=\"center\" style=\"padding:8px 24px 0;\"><div style=\"font-size:21px;font-weight:600;color:#1a2b4a;letter-spacing:-0.3px;\">You're confirmed, {{4.data.first_name}}</div></td></tr>\n<tr><td align=\"center\" style=\"padding:2px 24px 0;\"><div style=\"font-size:13px;color:#86868b;\">Payment received \u2014 your seat is locked in.</div></td></tr>\n<tr><td style=\"padding:12px 24px 2px;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" bgcolor=\"#f5f5f7\" style=\"border-radius:12px;\"><tr><td style=\"padding:12px 18px;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n<tr><td style=\"color:#86868b;padding:3px 0;font-size:14px;\">Course</td><td align=\"right\" style=\"color:#1d1d1f;font-weight:600;padding:3px 0;font-size:14px;\">{{switch(4.data.course_type;\"aha_bls_heartcode\";\"HeartCode BLS\";\"aha_bls_spanish\";\"BLS (Spanish)\";\"aha_heartsaver_spanish\";\"Heartsaver (Spanish)\";\"redcross_fa_cpr_aed\";\"Red Cross First Aid/CPR/AED\";\"aha_bls\";\"BLS\";\"bls\";\"BLS\";\"aha_bls_renewal\";\"BLS Renewal\";\"bls_renewal\";\"BLS Renewal\";\"rnw\";\"BLS Renewal\";\"renewal\";\"BLS Renewal\";\"aha_heartsaver\";\"Heartsaver First Aid CPR AED\";\"heartsaver\";\"Heartsaver First Aid CPR AED\";\"hs\";\"Heartsaver First Aid CPR AED\";\"aha_acls\";\"ACLS\";\"acls\";\"ACLS\";\"aha_pals\";\"PALS\";\"pals\";\"PALS\";1.course_type)}}</td></tr><tr><td style=\"color:#86868b;padding:3px 0;font-size:14px;\">Date</td><td align=\"right\" style=\"color:#1d1d1f;font-weight:600;padding:3px 0;font-size:14px;\">{{4.data.date_formatted}}</td></tr><tr><td style=\"color:#86868b;padding:3px 0;font-size:14px;\">Time</td><td align=\"right\" style=\"color:#1d1d1f;font-weight:600;padding:3px 0;font-size:14px;\">{{4.data.time_label}} &ndash; {{4.data.time_end}}</td></tr><tr><td style=\"color:#86868b;padding:3px 0;font-size:14px;\">Location</td><td align=\"right\" style=\"color:#1d1d1f;font-weight:600;padding:3px 0;font-size:14px;\">100 Barranca St #255-B</td></tr>\n</table></td></tr></table></td></tr>\n<tr><td style=\"padding:8px 24px 2px;\">{{switch(4.data.course_type;\"aha_bls_heartcode\";\"\";\"aha_bls_spanish\";\"\";\"aha_heartsaver_spanish\";\"\";\"redcross_fa_cpr_aed\";\"<table width='100%' cellpadding='12' cellspacing='0' bgcolor='#FFF7ED' style='border-radius:12px'><tr><td><font color='#9A3412'><b>Before class: complete your online course</b></font><br><font color='#515154'><span style='font-size:13px'>Red Cross First Aid/CPR/AED is blended &mdash; please finish the online portion before your in-person skills session.</span></font><br><br><table cellpadding='9' cellspacing='0'><tr><td bgcolor='#1A2B4A' style='border-radius:980px'><a href='https://www.redcrosslearningcenter.org/s/online-class-registration?Id=a65KV000001OobuYAC' style='color:#ffffff'><font color='#ffffff'><b>Complete your online course</b></font></a></td></tr></table></td></tr></table>\";\"aha_acls\";\"<table width='100%' cellpadding='12' cellspacing='0' bgcolor='#FFF7ED' style='border-radius:12px'><tr><td><font color='#9A3412'><b>Required: ACLS Precourse Self-Assessment</b></font><br><font color='#515154'><span style='font-size:13px'>Complete it and bring your score before class.</span></font><br><br><table cellpadding='9' cellspacing='0'><tr><td bgcolor='#1A2B4A' style='border-radius:980px'><a href='https://shopcpr.heart.org/acls-precourse-self-assessment' style='color:#ffffff'><font color='#ffffff'><b>Start ACLS assessment</b></font></a></td></tr></table></td></tr></table>\";\"acls\";\"<table width='100%' cellpadding='12' cellspacing='0' bgcolor='#FFF7ED' style='border-radius:12px'><tr><td><font color='#9A3412'><b>Required: ACLS Precourse Self-Assessment</b></font><br><font color='#515154'><span style='font-size:13px'>Complete it and bring your score before class.</span></font><br><br><table cellpadding='9' cellspacing='0'><tr><td bgcolor='#1A2B4A' style='border-radius:980px'><a href='https://shopcpr.heart.org/acls-precourse-self-assessment' style='color:#ffffff'><font color='#ffffff'><b>Start ACLS assessment</b></font></a></td></tr></table></td></tr></table>\";\"aha_pals\";\"<table width='100%' cellpadding='12' cellspacing='0' bgcolor='#FFF7ED' style='border-radius:12px'><tr><td><font color='#9A3412'><b>Required: PALS Precourse Self-Assessment</b></font><br><font color='#515154'><span style='font-size:13px'>Complete it and bring your score before class.</span></font><br><br><table cellpadding='9' cellspacing='0'><tr><td bgcolor='#1A2B4A' style='border-radius:980px'><a href='https://shopcpr.heart.org/pals-precourse-self-assessment' style='color:#ffffff'><font color='#ffffff'><b>Start PALS assessment</b></font></a></td></tr></table></td></tr></table>\";\"pals\";\"<table width='100%' cellpadding='12' cellspacing='0' bgcolor='#FFF7ED' style='border-radius:12px'><tr><td><font color='#9A3412'><b>Required: PALS Precourse Self-Assessment</b></font><br><font color='#515154'><span style='font-size:13px'>Complete it and bring your score before class.</span></font><br><br><table cellpadding='9' cellspacing='0'><tr><td bgcolor='#1A2B4A' style='border-radius:980px'><a href='https://shopcpr.heart.org/pals-precourse-self-assessment' style='color:#ffffff'><font color='#ffffff'><b>Start PALS assessment</b></font></a></td></tr></table></td></tr></table>\";\"\")}}</td></tr>\n<tr><td style=\"padding:8px 24px 2px;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:1px solid #ececef;border-radius:12px;\"><tr><td style=\"padding:13px 16px;\"><span style=\"display:inline-block;background:#fdecea;color:#e8503a;font-size:10px;font-weight:700;letter-spacing:0.4px;padding:3px 9px;border-radius:980px;\">FREE 7-DAY TRIAL</span> <span style=\"font-size:14px;font-weight:600;color:#1a2b4a;\">Walk in class-ready</span><div style=\"font-size:13px;color:#515154;margin:5px 0 10px;line-height:1.4;\">Practice BLS, ACLS &amp; PALS anytime with our Study Guide app.</div><table cellpadding=\"0\" cellspacing=\"0\"><tr><td bgcolor=\"#e8503a\" style=\"border-radius:980px;padding:9px 18px;\"><a href=\"https://apps.apple.com/us/app/sos-first-aid-bls-acls-pals/id6767118957\" style=\"color:#ffffff !important;font-size:13px;font-weight:600;text-decoration:none;\">Try free for 7 days</a></td></tr></table></td></tr></table></td></tr>\n<tr><td style=\"padding:8px 24px 2px;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" bgcolor=\"#f5f5f7\" style=\"border-radius:12px;\"><tr><td align=\"center\" style=\"padding:13px;\"><div style=\"font-size:13px;font-weight:600;color:#1a2b4a;margin-bottom:9px;\">Follow for tips, class openings &amp; giveaways</div><table cellpadding=\"0\" cellspacing=\"0\" align=\"center\"><tr><td style=\"padding:0 7px;\"><a href=\"https://www.instagram.com/cprwestcovina/\"><table cellpadding=\"0\" cellspacing=\"0\"><tr><td width=\"40\" height=\"40\" align=\"center\" valign=\"middle\" bgcolor=\"#E1306C\" style=\"border-radius:20px;\"><img src=\"https://img.icons8.com/ios-filled/40/ffffff/instagram-new.png\" width=\"20\" height=\"20\" style=\"display:block;\"></td></tr></table></a></td><td style=\"padding:0 7px;\"><a href=\"https://web.facebook.com/profile.php?id=61587989711336\"><table cellpadding=\"0\" cellspacing=\"0\"><tr><td width=\"40\" height=\"40\" align=\"center\" valign=\"middle\" bgcolor=\"#1877F2\" style=\"border-radius:20px;\"><img src=\"https://img.icons8.com/ios-filled/40/ffffff/facebook-new.png\" width=\"20\" height=\"20\" style=\"display:block;\"></td></tr></table></a></td><td style=\"padding:0 7px;\"><a href=\"https://www.youtube.com/@cprwestcovina\"><table cellpadding=\"0\" cellspacing=\"0\"><tr><td width=\"40\" height=\"40\" align=\"center\" valign=\"middle\" bgcolor=\"#FF0000\" style=\"border-radius:20px;\"><img src=\"https://img.icons8.com/ios-filled/40/ffffff/youtube-play.png\" width=\"20\" height=\"20\" style=\"display:block;\"></td></tr></table></a></td></tr></table></td></tr></table></td></tr>\n<tr><td align=\"center\" style=\"padding:10px 24px 18px;\"><div style=\"font-size:12px;color:#86868b;line-height:1.5;\">Bring a photo ID &middot; arrive 10 min early &middot; free reschedule up to 24h before<br>Questions? Reply or call (626) 605-2067</div></td></tr>\n</table></td></tr></table>", "subject": "You're confirmed! {{switch(4.data.course_type;\"aha_bls_heartcode\";\"HeartCode BLS\";\"aha_bls_spanish\";\"BLS (Spanish)\";\"aha_heartsaver_spanish\";\"Heartsaver (Spanish)\";\"redcross_fa_cpr_aed\";\"Red Cross First Aid/CPR/AED\";\"aha_bls\";\"BLS\";\"bls\";\"BLS\";\"aha_bls_renewal\";\"BLS Renewal\";\"bls_renewal\";\"BLS Renewal\";\"rnw\";\"BLS Renewal\";\"renewal\";\"BLS Renewal\";\"aha_heartsaver\";\"Heartsaver First Aid CPR AED\";\"heartsaver\";\"Heartsaver First Aid CPR AED\";\"hs\";\"Heartsaver First Aid CPR AED\";\"aha_acls\";\"ACLS\";\"acls\";\"ACLS\";\"aha_pals\";\"PALS\";\"pals\";\"PALS\";4.data.course_type)}} Certification on {{4.data.date_formatted}}", "bodyType": "rawHtml"}, "module": "google-email:sendAnEmail", "version": 4, "metadata": {"expect": [{"name": "to", "spec": {"name": "value", "type": "email", "label": "Recipient email address", "required": true, "validate": true}, "type": "array", "label": "To", "required": true}, {"name": "subject", "type": "text", "label": "Subject"}, {"name": "bodyType", "type": "select", "label": "Body type", "required": true, "validate": {"enum": ["rawHtml", "collection"]}}, {"name": "attachments", "spec": {"name": "value", "spec": [{"name": "filename", "type": "filename", "label": "File name", "required": true, "semantic": "file:name"}, {"name": "data", "type": "buffer", "label": "Data", "required": true, "semantic": "file:data"}], "type": "collection", "label": "Attachment"}, "type": "array", "label": "Attachments"}, {"name": "from", "type": "select", "label": "From"}, {"name": "cc", "spec": {"name": "value", "type": "email", "label": "Recipient email address"}, "type": "array", "label": "CC recipients"}, {"name": "bcc", "spec": {"name": "value", "type": "email", "label": "Recipient email address"}, "type": "array", "label": "BCC recipients"}, {"name": "emailHeaders", "spec": {"name": "value", "spec": [{"name": "key", "type": "text", "label": "Key", "required": true}, {"name": "value", "type": "text", "label": "Value"}], "type": "collection", "label": "Email header"}, "type": "array", "label": "Additional email headers"}, {"name": "content", "type": "text", "label": "Content"}], "restore": {"expect": {"cc": {"mode": "chose"}, "to": {"mode": "chose", "items": [null]}, "bcc": {"mode": "chose"}, "from": {"mode": "chose", "label": "Empty"}, "bodyType": {"label": "Raw HTML"}, "attachments": {"mode": "chose"}, "emailHeaders": {"mode": "chose"}}, "parameters": {"__IMTCONN__": {"data": {"scoped": "true", "connection": "google-email"}, "label": "My Gmail connection (cprwestcovina@gmail.com)"}}}, "designer": {"x": 600, "y": 0}, "parameters": [{"name": "__IMTCONN__", "type": "account:google-email", "label": "Connection", "required": true}]}, "parameters": {"__IMTCONN__": 8951891}}, {"id": 6, "filter": {"name": "Matched record is fresh (within 15 min)", "conditions": [[{"a": "{{4.data.submitted_at}}", "b": "{{formatDate(addMinutes(now; -15); \"YYYY-MM-DDTHH:mm:ss\")}}", "o": "date:greater"}, {"a": "{{4.data.square_payment_id}}", "b": "{{1.data.object.payment.id}}", "o": "text:notequal"}]]}, "mapper": {"end": "{{parseDate(4.data.date + \" \" + 4.data.time_end; \"YYYY-MM-DD h:mm A\"; \"America/Los_Angeles\")}}", "start": "{{parseDate(4.data.date + \" \" + 4.data.time_label; \"YYYY-MM-DD h:mm A\"; \"America/Los_Angeles\")}}", "select": "detail", "summary": "{{switch(4.data.course_type;\"aha_bls_heartcode\";\"HeartCode BLS\";\"aha_bls_spanish\";\"BLS (Spanish)\";\"aha_heartsaver_spanish\";\"Heartsaver (Spanish)\";\"redcross_fa_cpr_aed\";\"Red Cross First Aid/CPR/AED\";\"aha_bls\";\"BLS\";\"aha_bls_renewal\";\"BLS Renewal\";\"aha_heartsaver\";\"Heartsaver First Aid CPR AED\";\"aha_acls\";\"ACLS\";\"aha_pals\";\"PALS\";\"BLS\")}} Class \u2014 {{4.data.first_name}} {{4.data.last_name}}", "calendar": "cprwestcovina@gmail.com", "location": "100 Barranca St #255-B, West Covina, CA 91791", "attendees": [{"email": "{{4.data.email}}", "optional": false, "resource": false, "displayName": "{{4.data.first_name}} {{4.data.last_name}}"}], "overrides": [{"method": "email", "minutes": 1440}, {"method": "popup", "minutes": 60}], "visibility": "default", "allDayEvent": false, "attachments": [], "description": "Student: {{4.data.first_name}} {{4.data.last_name}}\nEmail: {{4.data.email}}\nPhone: {{4.data.phone}}\nBooking ID: {{4.data.booking_id}}\nPaid: ${{4.data.total}}", "sendUpdates": "all", "transparency": "opaque"}, "module": "google-calendar:createAnEvent", "version": 5, "metadata": {"designer": {"x": 900, "y": 0}}, "parameters": {"__IMTCONN__": 8957688}}, {"id": 7, "filter": {"name": "Matched record is fresh (within 15 min)", "conditions": [[{"a": "{{4.data.submitted_at}}", "b": "{{formatDate(addMinutes(now; -15); \"YYYY-MM-DDTHH:mm:ss\")}}", "o": "date:greater"}, {"a": "{{4.data.square_payment_id}}", "b": "{{1.data.object.payment.id}}", "o": "text:notequal"}]]}, "mapper": {"to": ["cprwestcovina@gmail.com"], "content": "<div style=\"font-family:Arial,sans-serif;max-width:560px;\"><h2 style=\"color:#1e8449;\">New paid booking \ud83c\udf89</h2><table cellpadding=\"6\" style=\"font-size:14px;\"><tr><td><strong>Student:</strong></td><td>{{4.data.first_name}} {{4.data.last_name}}</td></tr><tr><td><strong>Email:</strong></td><td>{{4.data.email}}</td></tr><tr><td><strong>Phone:</strong></td><td>{{4.data.phone}}</td></tr><tr><td><strong>Date:</strong></td><td>{{4.data.date_formatted}}</td></tr><tr><td><strong>Time:</strong></td><td>{{4.data.time_label}} \u2013 {{4.data.time_end}}</td></tr><tr><td><strong>Booking ID:</strong></td><td>{{4.data.booking_id}}</td></tr><tr><td><strong>Square Payment ID:</strong></td><td>{{1.data.object.payment.id}}</td></tr><tr><td><strong>Amount:</strong></td><td>${{formatNumber((1.data.object.payment.amount_money.amount / 100); 2; \".\"; \",\")}}</td></tr></table><p style=\"font-size:13px;color:#757575;margin-top:16px;\">Calendar event auto-created on cprwestcovina@gmail.com. Student received invite.</p></div>", "subject": "\ud83d\udcb0 New {{switch(4.data.course_type;\"aha_bls_heartcode\";\"HeartCode BLS\";\"aha_bls_spanish\";\"BLS (Spanish)\";\"aha_heartsaver_spanish\";\"Heartsaver (Spanish)\";\"redcross_fa_cpr_aed\";\"Red Cross First Aid/CPR/AED\";\"aha_bls\";\"BLS\";\"bls\";\"BLS\";\"aha_bls_renewal\";\"BLS Renewal\";\"bls_renewal\";\"BLS Renewal\";\"rnw\";\"BLS Renewal\";\"renewal\";\"BLS Renewal\";\"aha_heartsaver\";\"Heartsaver First Aid CPR AED\";\"heartsaver\";\"Heartsaver First Aid CPR AED\";\"hs\";\"Heartsaver First Aid CPR AED\";\"aha_acls\";\"ACLS\";\"acls\";\"ACLS\";\"aha_pals\";\"PALS\";\"pals\";\"PALS\";4.data.course_type)}} Booking PAID \u2014 {{4.data.first_name}} {{4.data.last_name}} for {{4.data.date_formatted}}", "bodyType": "rawHtml"}, "module": "google-email:sendAnEmail", "version": 4, "metadata": {"expect": [{"name": "to", "spec": {"name": "value", "type": "email", "label": "Recipient email address", "required": true, "validate": true}, "type": "array", "label": "To", "required": true}, {"name": "subject", "type": "text", "label": "Subject"}, {"name": "bodyType", "type": "select", "label": "Body type", "required": true, "validate": {"enum": ["rawHtml", "collection"]}}, {"name": "attachments", "spec": {"name": "value", "spec": [{"name": "filename", "type": "filename", "label": "File name", "required": true, "semantic": "file:name"}, {"name": "data", "type": "buffer", "label": "Data", "required": true, "semantic": "file:data"}], "type": "collection", "label": "Attachment"}, "type": "array", "label": "Attachments"}, {"name": "from", "type": "select", "label": "From"}, {"name": "cc", "spec": {"name": "value", "type": "email", "label": "Recipient email address"}, "type": "array", "label": "CC recipients"}, {"name": "bcc", "spec": {"name": "value", "type": "email", "label": "Recipient email address"}, "type": "array", "label": "BCC recipients"}, {"name": "emailHeaders", "spec": {"name": "value", "spec": [{"name": "key", "type": "text", "label": "Key", "required": true}, {"name": "value", "type": "text", "label": "Value"}], "type": "collection", "label": "Email header"}, "type": "array", "label": "Additional email headers"}, {"name": "content", "type": "text", "label": "Content"}], "restore": {"expect": {"cc": {"mode": "chose"}, "to": {"mode": "chose", "items": [null]}, "bcc": {"mode": "chose"}, "from": {"mode": "chose", "label": "Empty"}, "bodyType": {"label": "Raw HTML"}, "attachments": {"mode": "chose"}, "emailHeaders": {"mode": "chose"}}, "parameters": {"__IMTCONN__": {"data": {"scoped": "true", "connection": "google-email"}, "label": "My Gmail connection (cprwestcovina@gmail.com)"}}}, "designer": {"x": 1200, "y": 0}, "parameters": [{"name": "__IMTCONN__", "type": "account:google-email", "label": "Connection", "required": true}]}, "parameters": {"__IMTCONN__": 8951891}}], "name": "Integration Webhooks", "metadata": {"instant": true, "version": 1, "designer": {"orphans": [], "samples": {"1": {"data": {"id": "test-payment-id-12346", "type": "payment", "object": {"payment": {"id": "test-payment-id-12346", "status": "COMPLETED", "amount_money": {"amount": 8900, "currency": "USD"}, "buyer_email_address": "jayalcalde93@gmail.com"}}}, "type": "payment.updated", "event_id": "test-event-id-12346", "created_at": "2026-05-19T20:00:00.000Z", "merchant_id": "MLTH5RW9VDDRQ"}}}, "scenario": {"dlq": false, "slots": null, "dataloss": false, "maxErrors": 50, "autoCommit": true, "roundtrips": 1, "sequential": false, "confidential": false, "freshVariables": false, "autoCommitTriggerLast": true}}}