make_5130806_backup_pre_acls_launch.json
{"flow": [{"id": 1, "mapper": {"sort": [], "filter": [[{"a": "status", "b": "pending", "o": "text:equal"}, {"a": "submitted_at", "b": "{{formatDate(addMinutes(now; -120); \"YYYY-MM-DDTHH:mm:ss\")}}", "o": "text:less"}, {"a": "submitted_at", "b": "{{formatDate(addMinutes(now; -10080); \"YYYY-MM-DDTHH:mm:ss\")}}", "o": "text:greater"}, {"a": "nudge2_sent", "b": "yes", "o": "text:notequal"}]], "mappAbleLimit": "10"}, "module": "datastore:SearchRecord", "version": 1, "metadata": {"designer": {"x": 0, "y": 0}}, "parameters": {"datastore": 100809}}, {"id": 2, "filter": {"name": "Recipient looks like email", "conditions": [[{"a": "{{1.data.email}}", "b": "@", "o": "text:contain"}]]}, "mapper": {"to": ["{{1.data.email}}"], "content": "<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" bgcolor=\"#f5f5f7\"><tr><td align=\"center\" style=\"padding:20px 12px;\">\n<table width=\"540\" cellpadding=\"0\" cellspacing=\"0\" bgcolor=\"#ffffff\" style=\"border-radius:16px;overflow:hidden;font-family:-apple-system,BlinkMacSystemFont,Arial,sans-serif;max-width:540px;\">\n<tr><td bgcolor=\"#e8503a\" height=\"4\" style=\"height:4px;line-height:4px;font-size:4px;\">&nbsp;</td></tr>\n<tr><td align=\"center\" style=\"padding:24px 32px 0;\"><span style=\"font-size:15px;font-weight:600;color:#1a2b4a;\">CPR <span style=\"color:#e8503a;\">West Covina</span></span></td></tr>\n<tr><td align=\"center\" style=\"padding:22px 32px 2px;\"><div style=\"font-size:25px;font-weight:600;color:#1a2b4a;letter-spacing:-0.4px;\">Quick check, {{1.data.first_name}}</div></td></tr>\n<tr><td align=\"center\" style=\"padding:0 32px 4px;\"><div style=\"font-size:13px;color:#86868b;\"><span style=\"color:#f5b041;letter-spacing:1px;\">&#9733;&#9733;&#9733;&#9733;&#9733;</span> <strong style=\"color:#1d1d1f;\">4.9</strong> &middot; 260+ Google reviews</div></td></tr>\n<tr><td align=\"center\" style=\"padding:10px 36px 0;\"><div style=\"font-size:14px;color:#515154;line-height:1.5;\">Your booking isn't paid yet &mdash; was there an issue at checkout? We're happy to help.</div></td></tr>\n<tr><td style=\"padding:16px 32px 4px;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" bgcolor=\"#f5f5f7\" style=\"border-radius:14px;\"><tr><td style=\"padding:18px 22px;\"><table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n<tr><td style=\"color:#86868b;padding:5px 0;font-size:15px;\">Course</td><td align=\"right\" style=\"color:#1d1d1f;font-weight:600;padding:5px 0;font-size:15px;\">{{switch(1.data.course_type;\"aha_bls_heartcode\";\"HeartCode BLS\";\"aha_bls_spanish\";\"BLS (Spanish)\";\"aha_heartsaver_spanish\";\"Heartsaver (Spanish)\";\"redcross_fa_cpr_aed\";\"Red Cross First Aid/CPR/AED\";\"aha_bls\";\"BLS\";\"bls\";\"BLS\";\"aha_bls_renewal\";\"BLS Renewal\";\"bls_renewal\";\"BLS Renewal\";\"rnw\";\"BLS Renewal\";\"renewal\";\"BLS Renewal\";\"aha_heartsaver\";\"Heartsaver First Aid CPR AED\";\"heartsaver\";\"Heartsaver First Aid CPR AED\";\"hs\";\"Heartsaver First Aid CPR AED\";\"aha_acls\";\"ACLS\";\"acls\";\"ACLS\";\"aha_pals\";\"PALS\";\"pals\";\"PALS\";1.data.course_type)}}</td></tr><tr><td style=\"color:#86868b;padding:5px 0;font-size:15px;\">Date</td><td align=\"right\" style=\"color:#1d1d1f;font-weight:600;padding:5px 0;font-size:15px;\">{{1.data.date_formatted}}</td></tr><tr><td style=\"color:#86868b;padding:5px 0;font-size:15px;\">Time</td><td align=\"right\" style=\"color:#1d1d1f;font-weight:600;padding:5px 0;font-size:15px;\">{{1.data.time_label}}</td></tr><tr><td style=\"color:#86868b;padding:5px 0;font-size:15px;\">Location</td><td align=\"right\" style=\"color:#1d1d1f;font-weight:600;padding:5px 0;font-size:15px;\">West Covina, CA</td></tr>\n</table></td></tr></table></td></tr>\n<tr><td align=\"center\" style=\"padding:8px 32px 4px;\"><table cellpadding=\"0\" cellspacing=\"0\" align=\"center\"><tr><td align=\"center\" style=\"padding:8px 32px 4px;\"><table cellpadding=\"0\" cellspacing=\"0\" align=\"center\"><tr><td bgcolor=\"#FFF4F1\" style=\"border:2px dashed #e8503a;border-radius:12px;padding:12px 26px;text-align:center;\"><div style=\"font-size:11px;color:#9A6B00;letter-spacing:1.5px;text-transform:uppercase;\">Enter at checkout to save {{switch(1.data.course_type;\"aha_acls\";\"$25\";\"acls\";\"$25\";\"aha_pals\";\"$25\";\"pals\";\"$25\";\"$10\")}}</div><div style=\"font-size:24px;font-weight:800;color:#e8503a;letter-spacing:3px;margin-top:3px;font-family:Menlo,monospace;\">{{switch(1.data.course_type;\"aha_acls\";\"ACLS25\";\"acls\";\"ACLS25\";\"aha_pals\";\"PALS25\";\"pals\";\"PALS25\";\"HEALTHCARE10\")}}</div></td></tr></table></td></tr><tr><td bgcolor=\"#e8503a\" style=\"border-radius:980px;padding:15px 40px;\"><a href=\"{{switch(1.data.course_type;\"aha_bls_heartcode\";\"https://square.link/u/4eZLz6Gp\";\"aha_bls_spanish\";\"https://square.link/u/sHaPm1Ss\";\"aha_heartsaver_spanish\";\"https://square.link/u/zLkpnPAq\";\"redcross_fa_cpr_aed\";\"https://square.link/u/tsnNsL9Z\";\"aha_bls\";\"https://square.link/u/joztArXe\";\"bls\";\"https://square.link/u/joztArXe\";\"aha_bls_renewal\";\"https://square.link/u/joztArXe\";\"bls_renewal\";\"https://square.link/u/joztArXe\";\"rnw\";\"https://square.link/u/joztArXe\";\"renewal\";\"https://square.link/u/joztArXe\";\"aha_heartsaver\";\"https://square.link/u/eQNLjlhp\";\"heartsaver\";\"https://square.link/u/eQNLjlhp\";\"aha_acls\";\"https://square.link/u/J1bpzGQ8\";\"acls\";\"https://square.link/u/J1bpzGQ8\";\"aha_pals\";\"https://square.link/u/SVa0s9hf\";\"pals\";\"https://square.link/u/SVa0s9hf\";\"https://square.link/u/joztArXe\")}}\" style=\"color:#ffffff !important;font-size:17px;font-weight:600;text-decoration:none;\">Finish payment</a></td></tr></table></td></tr>\n<tr><td align=\"center\" style=\"padding:10px 32px 4px;\"><table cellpadding=\"0\" cellspacing=\"0\" align=\"center\"><tr><td style=\"border:1px solid #d2d2d7;border-radius:980px;padding:11px 26px;\"><a href=\"{{switch(1.data.course_type;\"aha_bls_heartcode\";\"https://cprwestcovina.com/#book-aha_bls_heartcode\";\"aha_bls_spanish\";\"https://cprwestcovina.com/#book-aha_bls_spanish\";\"aha_heartsaver_spanish\";\"https://cprwestcovina.com/#book-aha_heartsaver_spanish\";\"redcross_fa_cpr_aed\";\"https://cprwestcovina.com/#book-redcross_fa_cpr_aed\";\"aha_heartsaver\";\"https://cpr-dashboard-cprwc.vercel.app/heartsaver.html\";\"heartsaver\";\"https://cpr-dashboard-cprwc.vercel.app/heartsaver.html\";\"aha_acls\";\"https://cpr-dashboard-cprwc.vercel.app/acls.html\";\"acls\";\"https://cpr-dashboard-cprwc.vercel.app/acls.html\";\"aha_pals\";\"https://cpr-dashboard-cprwc.vercel.app/pals.html\";\"pals\";\"https://cpr-dashboard-cprwc.vercel.app/pals.html\";\"aha_bls_renewal\";\"https://cprwestcovina-commits.github.io/bls-booking/bls-renewal.html\";\"bls_renewal\";\"https://cprwestcovina-commits.github.io/bls-booking/bls-renewal.html\";\"rnw\";\"https://cprwestcovina-commits.github.io/bls-booking/bls-renewal.html\";\"renewal\";\"https://cprwestcovina-commits.github.io/bls-booking/bls-renewal.html\";\"https://cprwestcovina-commits.github.io/bls-booking/bls-booking.html\")}}?src=changetime\" style=\"color:#1a2b4a;font-size:14px;font-weight:600;text-decoration:none;\">That time no longer works? Pick a new slot</a></td></tr></table></td></tr>\n\n<tr><td align=\"center\" style=\"padding:8px 32px 4px;\"><a href=\"tel:+16266052067\" style=\"color:#86868b;text-decoration:none;font-weight:600;font-size:13px;\">Or call (626) 605-2067</a></td></tr>\n<tr><td align=\"center\" style=\"padding:14px 32px 6px;\"><div style=\"font-size:13px;color:#86868b;line-height:1.7;\">&#10003; Free reschedule up to 24 hours before class<br>100 Barranca St #255-B, West Covina, CA 91791</div></td></tr>\n<tr><td align=\"center\" style=\"padding:8px 32px 26px;\"><div style=\"font-size:11px;color:#a1a1a6;border-top:1px solid #f0f0f2;padding-top:14px;\">Already paid? You can ignore this &mdash; your seat is confirmed.</div></td></tr>\n</table></td></tr></table>", "subject": "Did your {{switch(1.data.course_type;\"aha_bls_heartcode\";\"HeartCode BLS\";\"aha_bls_spanish\";\"BLS (Spanish)\";\"aha_heartsaver_spanish\";\"Heartsaver (Spanish)\";\"redcross_fa_cpr_aed\";\"Red Cross First Aid/CPR/AED\";\"aha_bls\";\"BLS\";\"bls\";\"BLS\";\"aha_bls_renewal\";\"BLS Renewal\";\"bls_renewal\";\"BLS Renewal\";\"rnw\";\"BLS Renewal\";\"renewal\";\"BLS Renewal\";\"aha_heartsaver\";\"Heartsaver First Aid CPR AED\";\"heartsaver\";\"Heartsaver First Aid CPR AED\";\"hs\";\"Heartsaver First Aid CPR AED\";\"aha_acls\";\"ACLS\";\"acls\";\"ACLS\";\"aha_pals\";\"PALS\";\"pals\";\"PALS\";1.data.course_type)}} payment go through?", "bodyType": "rawHtml"}, "module": "google-email:sendAnEmail", "version": 4, "metadata": {"designer": {"x": 300, "y": 0}}, "parameters": {"__IMTCONN__": 8951891}}, {"id": 3, "mapper": {"ca": "", "qs": [], "url": "https://us2.make.com/api/v2/data-stores/100809/data/{{1.key}}?teamId=2313459", "data": "{\"email\":\"{{1.data.email}}\",\"first_name\":\"{{1.data.first_name}}\",\"last_name\":\"{{1.data.last_name}}\",\"phone\":\"{{1.data.phone}}\",\"date\":\"{{1.data.date}}\",\"date_formatted\":\"{{1.data.date_formatted}}\",\"time_label\":\"{{1.data.time_label}}\",\"time_end\":\"{{1.data.time_end}}\",\"location\":\"{{1.data.location}}\",\"booking_id\":\"{{1.data.booking_id}}\",\"submitted_at\":\"{{1.data.submitted_at}}\",\"status\":\"{{1.data.status}}\",\"course_type\":\"{{1.data.course_type}}\",\"square_payment_id\":\"{{1.data.square_payment_id}}\",\"nudge2_sent\":\"yes\",\"source\":\"{{1.data.source}}\",\"gclid\":\"{{1.data.gclid}}\",\"utm_source\":\"{{1.data.utm_source}}\",\"utm_campaign\":\"{{1.data.utm_campaign}}\",\"utm_medium\":\"{{1.data.utm_medium}}\",\"utm_content\":\"{{1.data.utm_content}}\",\"utm_term\":\"{{1.data.utm_term}}\",\"landing_url\":\"{{1.data.landing_url}}\"}", "gzip": true, "method": "patch", "headers": [{"name": "Authorization", "value": "Token 4317021d-3786-4640-8265-34e63c0aaa2e"}, {"name": "Content-Type", "value": "application/json"}], "timeout": "", "useMtls": false, "bodyType": "raw", "contentType": "application/json", "serializeUrl": false, "shareCookies": false, "parseResponse": true, "followRedirect": true, "useQuerystring": false, "followAllRedirects": false, "rejectUnauthorized": true}, "module": "http:ActionSendData", "version": 3, "metadata": {"designer": {"x": 600, "y": 0}}, "parameters": {}}], "name": "Pay-click Day-After Follow-up", "metadata": {"instant": false, "version": 1, "designer": {"orphans": []}}}